/*logo properties*/
.logo {
    padding-top: 5em;
    width: 100px;
    
}
/*heading*/
.h1{
margin: 0;
 font-size: 4.286em;
padding-top: 1.0em;
text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.h1,.h3{
font-weight: 100;
text-transform: uppercase;
margin-bottom: 0.0px;
	text-align: right;
	
	}
/*horizontal line*/
hr{
	border: 2px solid #7d97ad;

}
/*main image*/

.image{
	margin-top: 20px;
	width: 1140px;
	margin-bottom: 20px;
	box-shadow:10px -10px 5px 0px rgba(186,182,186,1) ;
}

.h2{
	font-size: 3.186em;
	color: #7d97ad;
	padding-left: 5px;
}
/*projects*/
.proj1{
		width: 100%;
		box-shadow: 10px -10px 5px 0px rgba(186,182,186,1);
}

.proj2{
		width: 100%;
		box-shadow: 10px -10px 5px 0px rgba(186,182,186,1);
	}

.proj3{
		width: 100%;
		height: 240px;
		box-shadow: 10px -10px 5px 0px rgba(186,182,186,1);
	}

.project{
		text-align: center;
	}

.shadow{
		text-shadow: 2px 2px 5px red;
		font-size:30px;
	}
.link{
	font-size: 20px;
}

div {
    display: block;
}





